*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    background-color: antiquewhite;
}

.heading{
    font-family:'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
    padding-top: 30px;
}

h1{
    font-family: "Jacquarda Bastarda"

}

.horse{
    background-image: url(images/horse.png);
    width: 600px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

}

.synopsis{
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: 999;
    text-align: justify;
}

.salinger{
    width: 100px;
    position: relative;
    top: 400px;
}

.bio{
    width: 300px;
    position: relative;
}